.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    background: rgba(117, 66, 162, 0.2);
    backdrop-filter: blur(10px);
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}